/* regola comune */
.contenitore {
width: 50%;
margin: auto;
}

/* immagine header */
header {
    height: 70px;
    background-color: dodgerblue;
    background-image: url('../img/pattern.png');
    background-repeat: repeat-x;
    background-size: 20%;

}

/* logo header */
#imglogo {
    width: 100px;
    height: auto;

}

/* FORMATTAZIONE TITOLO */
h1 {
    font-weight: bold;
    font-size: 30px;
    font-family: orelega one;
}

/* scritta azzurra */
#scrittaazzurra {
    color: lightskyblue;


}

.scrittapiccola {
font-size: small;

}

/* immagini tim */
.imgtim {
    display: inline-block;
    width: 100%;
}

.evidenziato {
    background-color: yellow;
}

/* tabella */
.testa {
color: white;
background-color: blue;
}

.sfondoazztable {
    background-color:rgba(27, 196, 238, 0.267) ;
}

#scittagrigia {
    color: gray;
}

.immaginilink1 {
    height: 100px;
    width: 120px;
    background-image: url('../img/monitor.jpg');
    background-repeat: no-repeat;
    
}

.immaginilink2 {
    height: 100px;
    width: 120px;
    background-image: url('../img/graph.jpg');
    background-repeat: no-repeat;

}