/* regola comune */
.contenitore {
width: 50%;
margin: auto;
}

/* immagine header */
header {
    background-color: dodgerblue;
    background-image: url('../img/pattern.png');
    background-repeat: repeat-x;
    background-size: auto;

}

/* logo header */
#imglogo {
    width: 20%;
    height: auto;

}
